.landingBg {
	background-image: url('img/background2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -100;
}

.landing {
	width: 100%;
	position: relative;
	height: 100vh;
	color: white;
	background-image: -webkit-linear-gradient(left, rgba(58, 64, 90, 0.7), rgba(113, 105, 105, 0.7));
	background-image: linear-gradient(90deg, rgba(58, 64, 90, 0.7), rgba(113, 105, 105, 0.7));
}